<footer id="footer">
    <div class="container-fluid py-8 text-center bg-gray-300">
        <!-- social media icons -->
        <div class="social-icons mt-4">
            <a href="https://www.facebook.com/neona.baby?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/annatsiatsernik/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/qr/BHB2QQYFFRPWN1" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/hanna-tsiatsernik-987944192" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://join.skype.com/invite/OoYS3tz2r8eK" target="_blank"><i class="fab fa-skype"></i></a>
        </div>
        <span>
            <a class="email-address" id="lnkEmailAddress" href="mailto:info%40eqlibre.by"> Hanna Tsiatsernik</a>
            <span> | 2024 All Rights Reserved. Privacy Policy</span>
        </span>
    </div>
</footer>